body
{
    background-color: white;
}

#name
{
    color: black;

}
#navbar a
{
    text-decoration: none;
    color: white;
    
   
}
#navbar
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.8);
    backdrop-filter: blur(8px);
    padding: 15px 50px;
    position: sticky;
    top: 0;
    
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);


}

#logo
{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #00C4ff;

}

#navlinks
{
    list-style: none;
    display: flex;
    gap: 35px
    ;

  
}


